
      		<!-- Footer Start -->
            	<div id="main-footer">
                	<div id="footer-inner">
                    	<div id="footer-nav">
                            <div id="footer-nav-content">
                                    <div class="nav-menu"><a href="" class="transition color-white">About Us</a></div>
                                    <div class="nav-menu"><a href="" class="transition color-white">Contact Us</a></div>
                                    <div class="nav-menu"><a href="" class="transition color-white">Terms & Privacy</a></div>	
                            </div>
                   		</div>
                    	<div id="footer-copyright">
                        &copy; 2013 Rate Your Guru
                    	</div>
                    	<div id="footer-social">
                                <div class="social-icon"><a href="https://twitter.com"><img src="/images/twitter.png" /></a></div>
                                <div class="social-icon"><a href="https://facebook.com"><img src="/images/facebook.png" /></a></div>
                                <div class="social-icon"><a href="https://gmail.com" ><img src="/images/google.png" /></a></div>
                    	</div>
                    </div>
                </div>
      		<!-- Footer Ends -->
    </div>
   	<!-- Main Container Ends -->
    <!-- Login Pop-up Starts -->
    <div class="popup-container" id="login-popup">
    	<div class="popup-inner">
        	<div class="top-bar">
	            <div class="top-bar-label">Login</div>
            	<div class="popup-cross"><img src="/images/cross.png" /></div>
        	</div>
			 <!-- Login Pop-up Middle Starts -->
           <form method="POST" action="/login">
           <div class="popup-middle">
   				 <div class="div-row"></div>
                  	<div class="div-row">
                        <div class="div-icon"><img src="/images/user1.png" /></div>
                        <div class="div-text"><input class="txtBox" type="text" placeholder="User ID" name="userName" /></div>
                </div>
               	<div class="div-row"></div>
              	<div class="div-row">
               		<div class="div-icon"><img src="/images/password1.png" /></div>
                    <div class="div-text"><input class="txtBox" type="password" placeholder="Password" name="userPassword" /></div>
                </div>
                <div class="div-row"></div>
                <div class="div-row">
	            	<div class="div-btn">
                 <input type="submit" class="btn" value="LOGIN" />
              		</div>
    	    	</div>                     		
           </div>
          </form>
			<!-- Login Pop-up Middle Starts -->
		</div>
    </div>
    <!-- Login Pop-up Ends -->
    <!-- Signup Pop-up Starts -->
    <form method="POST" action="/register">
    <div class="popup-container" id="signup-popup">
    	<div class="popup-inner">
        	<div class="top-bar">
	            <div class="top-bar-label">Register It's FREE</div>
            	<div class="popup-cross"><img src="/images/cross.png" /></div>
        	</div>
			 <!-- Signup Pop-up Middle Starts -->
           <div class="popup-middle">
   				<div class="div-row"></div>
               	<div class="div-row">
                   	<div class="div-icon"><img src="/images/user1.png" /></div>
                    <div class="div-text"><input class="txtBox" type="text" placeholder="User ID" name="userName" /></div>
                </div>
               	<div class="div-row"></div>
              	<div class="div-row">
               		<div class="div-icon"><img src="/images/password1.png" /></div>
                    <div class="div-text"><input class="txtBox" type="password" placeholder="Password" name="userPassword" /></div>
                </div>
                <div class="div-row"></div>
                <div class="div-row">
	            	<div class="div-btn">
                <input type="submit" class="btn" value="Register" />
              		</div>
    	    	</div>
           </div>
      </form>
			<!-- Signup Pop-up Middle Starts -->
		</div>
    </div>
    <!-- Signup Pop-up Ends -->
</body>
</html>
