<% include header %> 
<link rel="stylesheet" type="text/css" href="/stylesheets/defaultStyle.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/ratingGuruStyle.css" />
 
      		<!-- Middle Start -->
            	<div id="main-middle">
                    <div id="middle-inner">
                    	<div id="middle-data-main">
                        	<div id="middle-data-upper">
                            	<div class="data-image">
                                	<img class="image" src="<%=Guru.Picture%>" />
                                </div>
                                <div class="data-info">
                                	<div class="data-info-row">
                                    	<div class="info-label-static"><p>Name :</p></div>
                                        <div class="info-label-dynamic"><p><%=Guru.Name%></p></div>
                                    </div>
                                	<div class="data-info-row">
                                    	<div class="info-label-static"><p>School :</p></div>
                                        <div class="info-label-dynamic"><p><%=Guru.College%></p></div>
                                    </div>
                                	<div class="data-info-row">
                                    	<div class="info-label-static"><p>Department :</p></div>
                                        <div class="info-label-dynamic"><p><%=Guru.Department%></p></div>
                                    </div>
                                </div>
                            </div>
                           
                            <div id="middle-data-lower">
                            	<div class="lower-each">
                                	<div class="rows">
                                    	<div class="label-text"><p id="myid">Easiness :</p></div>
                                        <div class="label-star"><p id="stars">  </p></div>
                                    </div>	
                                	<div class="rows">
                                    	<div class="label-text"><p>Helpfulness :</p></div>
                                        <div class="label-star"><p> STAR IMAGE </p></div>
                                    </div>	
                                	<div class="rows">
                                    	<div class="label-text"><p>Clarity :</p></div>
                                        <div class="label-star"><p> STAR IMAGE </p></div>
                                    </div>	
                                	<div class="rows">
                                    	<div class="label-text"><p>Technical Exposure :</p></div>
                                        <div class="label-star"><p> STAR IMAGE </p></div>
                                    </div>	
                                	<div class="rows">
                                    	<div class="label-text"><p>Confidence :</p></div>
                                        <div class="label-star"><p> STAR IMAGE </p></div>
                                    </div>	
                                	<div class="rows">
                                    	<div class="label-text"><p>Knowledge :</p></div>
                                        <div class="label-star"><p> STAR IMAGE </p></div>
                                    </div>	
                                	<div class="rows">
                                    	<div class="label-text"><p>Communication :</p></div>
                                        <div class="label-star"><p> STAR IMAGE </p></div>
                                    </div>	
                                	<div class="rows">
                                    	<div class="label-text"><p>Interaction :</p></div>
                                        <div class="label-star"><p> STAR IMAGE </p></div>
                                    </div>	
                                    
                                </div>
                            	<div class="lower-each">
                                	<div class="rows">
                                    	<div class="label-text"><p>Punctuality :</p></div>
                                        <div class="label-star"><p> STAR IMAGE </p></div>
                                    </div>	
                                	<div class="rows">
                                    	<div class="label-text"><p>Motivation :</p></div>
                                        <div class="label-star"><p> STAR IMAGE </p></div>
                                    </div>	
                                	<div class="rows">
                                    	<div class="label-text"><p>Discipline :</p></div>
                                        <div class="label-star"><p> STAR IMAGE </p></div>
                                    </div>	
                                	<div class="rows">
                                    	<div class="label-text"><p>Dedication :</p></div>
                                        <div class="label-star"><p> STAR IMAGE </p></div>
                                    </div>	
                                	<div class="rows">
                                    	<div class="label-text"><p>Character :</p></div>
                                        <div class="label-star"><p> STAR IMAGE </p></div>
                                    </div>	
                                	<div class="rows">
                                    	<div class="label-text"><p>Preparation :</p></div>
                                        <div class="label-star"><p> STAR IMAGE </p></div>
                                    </div>	
                                	<div class="rows">
                                    	<div class="label-text"><p>Positive Attitude :</p></div>
                                        <div class="label-star"><p> STAR IMAGE </p></div>
                                    </div>	
                                	<div class="rows">
                                    	<div class="label-text"><p>Supportive :</p></div>
                                        <div class="label-star"><p> STAR IMAGE </p></div>
                                    </div>	
                                </div>
                                
                            </div>
                            <div class="btn-row">
                            	<div class="save-btn">
                                	<button class="btn-save">SUBMIT</button>
                                </div>
                            </div>
                        </div>
                                              
              		</div>
                </div>
      		<!-- Middle Ends -->
<% include footer %>            