 <% include header %>
 <link rel="stylesheet" type="text/css" href="/stylesheets/searchDetailStyle.css" />
 
      		<!-- Middle Start -->
            	<div id="main-middle">
         			
                    <div id="middle-inner">
						      <div id="wrapper">
                                  <div class="content_outer">
                                      <div class="left_section">
                                         <ul class="list">
                                           <li ><a href="#" class="active">Schools</a></li>
                                           <li><a href="#">School 1</a></li>
                                           <li><a href="#">School 2</a></li>
                                           <li><a href="#">School 3</a></li>
                                           <li><a href="#">School 4</a></li>
                                           <li><a href="#">School 5</a></li>
                                           <li><a href="#">School 6</a></li>

                                            </ul>
                                          </div>
                                      <div class="right_section">
                                       
                                        <div class="top_head">
                                         <div class="t1">Name</div> 
                                                  <div class="t2">Department</div>
                                                  <div class="t3">School</div>
                                                  <div class="t4">Average Rating</div>
                                                  <div class="t5">Voters</div>
                                           </div>
                                        <div class="right_table_outer">
                                          <div class="table_row">
                                                   <div class="t_col_1"><img src="/images/image_64x64_dark.png" alt="" class="img_size" /></div>
                                                  <div class="t_col_2">Aman Kumar</div> 
                                                  <div class="t_col_3">bbvbvb</div>
                                                  <div class="t_col_4">abcd school</div>
                                                  <div class="t_col_5">bvbvb</div>
                                                  <div class="t_col_6">10</div>
                                               </div>
                                               
                                           <div class="table_row1">
                                                   <div class="t_col_1"><img src="/images/image_64x64_dark.png" alt="" class="img_size" /></div>
                                                  <div class="t_col_2">Aman Kumar</div> 
                                                  <div class="t_col_3">bbvbvb</div>
                                                  <div class="t_col_4">abcd school</div>
                                                  <div class="t_col_5">bvbvb</div>
                                                  <div class="t_col_6">10</div>
                                               </div>  
                                           <div class="table_row">
                                                   <div class="t_col_1"><img src="/images/image_64x64_dark.png" alt="" class="img_size" /></div>
                                                  <div class="t_col_2">Aman Kumar</div> 
                                                  <div class="t_col_3">bbvbvb</div>
                                                  <div class="t_col_4">abcd school</div>
                                                  <div class="t_col_5">bvbvb</div>
                                                  <div class="t_col_6">10</div>
                                               </div>
                                               
                                           <div class="table_row1">
                                                   <div class="t_col_1"><img src="/images/image_64x64_dark.png" alt="" class="img_size" /></div>
                                                  <div class="t_col_2">Aman Kumar</div> 
                                                  <div class="t_col_3">bbvbvb</div>
                                                  <div class="t_col_4">abcd school</div>
                                                  <div class="t_col_5">bvbvb</div>
                                                  <div class="t_col_6">10</div>
                                        	</div>       
                                                 
                                        </div>
                                      </div>
                                     </div>
                                  </div>
              		</div>
                </div>
      		<!-- Middle Ends -->
             
<% include footer %>